@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --animate-spotlight: spotlight 1s ease 0.15s 1 forwards;
}

@theme {
  --color-background: hsl(var(--background));
  --font-display: "Roboto", "sans-serif";

  --animate-meteor: meteor 6s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}
@layer base {
  :root {
    --background: 210 40% 98%;
    --spot1: #fcc737;
    --spot2: #ea91ba;
    --spot3: #a6f1e0;
  }
  .dark {
    --background: 222 47% 4%;
    --spot1: white;
    --spot2: #b33791;
    --spot3: #4b70f5;
  }

  html {
    @apply scroll-smooth;
    font-family: var(--font-display);
  }
  body {
    @apply bg-background;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@utility star {
  @apply absolute rounded-full bg-white;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
}

@utility meteor {
  @apply absolute bg-linear-to-r from-white via-[#8B5DFF] to-[#4635B1] rounded-full;
  box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.3);
}
